In [1]:
import pandas as pd
# Loading the clean data
df=pd.read_excel('cleaned_data_withHTML.xlsx')
#converting all columns to all caps
df['COURSE_CODE'] = df['COURSE_CODE'].str.upper()
df['MEETING_DAYS'] = df['MEETING_DAYS'].str.upper()
df['CLASS_TYPE']=df['CLASS_TYPE'].str.upper()
df['INSTRUCTOR']=df['INSTRUCTOR'].str.upper()
df['COURSE_NAME']=df['COURSE_NAME'].str.upper()
# Correcting the name of column
df = df.rename(columns={'SEATS_AVAILABALE': 'SEATS_AVAILABLE'})
df.head()

,COURSE_CODE,COURSE_NAME,SECTION_NUMBER,UNITS,CLASS_TYPE,SEATS_AVAILABLE,MEETING_DAYS,CLASS_HOURS,INSTRUCTOR,YEAR,SEMESTER
0,CMPE 30,PROGRAMMING CONCEPT & METH,1,3,LEC,2,MW,1100-1150,H OZEMEK,2013,SPRING
1,CMPE 30,PROGRAMMING CONCEPT & METH,2,0,LAB,1,R,1730-2020,P KANG,2013,SPRING
2,CMPE 30,PROGRAMMING CONCEPT & METH,3,0,LAB,1,W,1730-2020,C ABBOUD,2013,SPRING
3,CMPE 46,COMPE I,1,3,SEM,1,TR,1030-1120,F LIN,2013,SPRING
4,CMPE 46,COMPE I,2,0,LAB,1,T,1330-1620,F LIN,2013,SPRING

In [2]:
#Total rows calculation
row_count = len(df)
print(row_count)

8901