In [1]:
import pandas as pd
# Loading the clean data
df=pd.read_excel('cleaned_data_withHTML.xlsx')
#converting all columns to all caps
df['COURSE_CODE'] = df['COURSE_CODE'].str.upper()
df['MEETING_DAYS'] = df['MEETING_DAYS'].str.upper()
df['CLASS_TYPE']=df['CLASS_TYPE'].str.upper()
df['INSTRUCTOR']=df['INSTRUCTOR'].str.upper()
df['COURSE_NAME']=df['COURSE_NAME'].str.upper()
# Correcting the name of column
df = df.rename(columns={'SEATS_AVAILABALE': 'SEATS_AVAILABLE'})
df.head()

,COURSE_CODE,COURSE_NAME,SECTION_NUMBER,UNITS,CLASS_TYPE,SEATS_AVAILABLE,MEETING_DAYS,CLASS_HOURS,INSTRUCTOR,YEAR,SEMESTER
0,CMPE 30,PROGRAMMING CONCEPT & METH,1,3,LEC,2,MW,1100-1150,H OZEMEK,2013,SPRING
1,CMPE 30,PROGRAMMING CONCEPT & METH,2,0,LAB,1,R,1730-2020,P KANG,2013,SPRING
2,CMPE 30,PROGRAMMING CONCEPT & METH,3,0,LAB,1,W,1730-2020,C ABBOUD,2013,SPRING
3,CMPE 46,COMPE I,1,3,SEM,1,TR,1030-1120,F LIN,2013,SPRING
4,CMPE 46,COMPE I,2,0,LAB,1,T,1330-1620,F LIN,2013,SPRING

In [2]:
#Total rows calculation
row_count = len(df)
print(row_count)

8901

# Final Data preprocessing

In [3]:
#Handling SECTION_NUMBER
print(df['SECTION_NUMBER'].isnull().sum())
df['SECTION_NUMBER'].fillna(0, inplace=True)
print(df['SECTION_NUMBER'].isnull().sum())

0
0

In [4]:
df['UNITS'].fillna(3, inplace=True)
print(df['INSTRUCTOR'].isnull().sum())

647

In [5]:
df.head(5)

,COURSE_CODE,COURSE_NAME,SECTION_NUMBER,UNITS,CLASS_TYPE,SEATS_AVAILABLE,MEETING_DAYS,CLASS_HOURS,INSTRUCTOR,YEAR,SEMESTER
0,CMPE 30,PROGRAMMING CONCEPT & METH,1,3,LEC,2,MW,1100-1150,H OZEMEK,2013,SPRING
1,CMPE 30,PROGRAMMING CONCEPT & METH,2,0,LAB,1,R,1730-2020,P KANG,2013,SPRING
2,CMPE 30,PROGRAMMING CONCEPT & METH,3,0,LAB,1,W,1730-2020,C ABBOUD,2013,SPRING
3,CMPE 46,COMPE I,1,3,SEM,1,TR,1030-1120,F LIN,2013,SPRING
4,CMPE 46,COMPE I,2,0,LAB,1,T,1330-1620,F LIN,2013,SPRING

In [6]:
#Finding Unique values in UNITS column
value_counts = df['UNITS'].value_counts()
# print the result
print(value_counts)

3    6780
0    1273
1     512
4     250
2      74
6       8
5       4
Name: UNITS, dtype: int64

In [7]:
value_counts = df['SEMESTER'].value_counts()
# print the result
print(value_counts)

FALL      4660
SPRING    4241
Name: SEMESTER, dtype: int64

In [8]:
df.head()

,COURSE_CODE,COURSE_NAME,SECTION_NUMBER,UNITS,CLASS_TYPE,SEATS_AVAILABLE,MEETING_DAYS,CLASS_HOURS,INSTRUCTOR,YEAR,SEMESTER
0,CMPE 30,PROGRAMMING CONCEPT & METH,1,3,LEC,2,MW,1100-1150,H OZEMEK,2013,SPRING
1,CMPE 30,PROGRAMMING CONCEPT & METH,2,0,LAB,1,R,1730-2020,P KANG,2013,SPRING
2,CMPE 30,PROGRAMMING CONCEPT & METH,3,0,LAB,1,W,1730-2020,C ABBOUD,2013,SPRING
3,CMPE 46,COMPE I,1,3,SEM,1,TR,1030-1120,F LIN,2013,SPRING
4,CMPE 46,COMPE I,2,0,LAB,1,T,1330-1620,F LIN,2013,SPRING

In [9]:
df_fall = df[df['SEMESTER'] == 'FALL']
len(df_fall)

4660

In [10]:
df_spring = df[df['SEMESTER'] == 'SPRING']
len(df_spring)

4241

In [11]:
df_fall.to_excel('fall_data.xlsx')

In [12]:
df_spring.to_excel('spring_data.xlsx')

# Encoding

In [14]:
import pandas as pd

from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [15]:
df_copy=df.copy()
df_copy.head()

,COURSE_CODE,COURSE_NAME,SECTION_NUMBER,UNITS,CLASS_TYPE,SEATS_AVAILABLE,MEETING_DAYS,CLASS_HOURS,INSTRUCTOR,YEAR,SEMESTER
0,CMPE 30,PROGRAMMING CONCEPT & METH,1,3,LEC,2,MW,1100-1150,H OZEMEK,2013,SPRING
1,CMPE 30,PROGRAMMING CONCEPT & METH,2,0,LAB,1,R,1730-2020,P KANG,2013,SPRING
2,CMPE 30,PROGRAMMING CONCEPT & METH,3,0,LAB,1,W,1730-2020,C ABBOUD,2013,SPRING
3,CMPE 46,COMPE I,1,3,SEM,1,TR,1030-1120,F LIN,2013,SPRING
4,CMPE 46,COMPE I,2,0,LAB,1,T,1330-1620,F LIN,2013,SPRING

In [16]:
# Label encoding our data
df_copy['COURSE_CODE']=le.fit_transform(df_copy['COURSE_CODE'])
df_copy['COURSE_NAME']=le.fit_transform(df_copy['COURSE_NAME'])
df_copy['CLASS_TYPE']=le.fit_transform(df_copy['CLASS_TYPE'])
df_copy['MEETING_DAYS']=le.fit_transform(df_copy['MEETING_DAYS'])
df_copy['CLASS_HOURS']=le.fit_transform(df_copy['CLASS_HOURS'])
df_copy['SEMESTER']=le.fit_transform(df_copy['SEMESTER'])
df_copy['YEAR']=le.fit_transform(df_copy['YEAR'])
df_copy['INSTRUCTOR']=le.fit_transform(df_copy['INSTRUCTOR'])

In [17]:
df_copy.head()
df_copy['SEATS_AVAILABLE'].unique()

array([  2,   1,  10,   0,  26,  29,   4,  33,   5,  19,  25,   6,  11,
        22,  -3,  28,  -4,  17,   8,  18,  20,  32,  16,  30, -30,   7,
        13,  -5,  41,  21, -14,  12,  -7,   3,   9,  -2,  15,  37,  -1,
        -6,  14,  -8,  76, -13,  23,  24, -10,  27,  36,  39,  59,  31,
        44,  45, -65,  47, -41, -46, -31,  42,  35,  50, -12, -70,  79,
       -21, -17, -15,  51, -26, -16, -19, -18,  38,  49,  60,  40,  48,
        46,  54, -55, -11,  -9, -32, -20,  70, -23,  90,  80,  34, -60,
       -45,  64,  67,  43, -72, -66, -99,  65, -28,  68, -37, -27,  72,
        61,  89, -77,  55,  73,  57, -29,  53,  52,  58, -25, 177, 174,
        56,  66, 172, 175,  63, 126, 167,  83, 160, 169, 113, 151, 155,
        75, 180, 120, 140, -24, 134, 178,  62,  71, -38, -35, 171,  77,
       -22,  97, 179,  69, 116], dtype=int64)

In [18]:
# df_copy.loc[df_copy['SEATS_AVAILABLE'] > 40, 'SEATS_AVAILABLE'] = 10
# df_copy.loc[df_copy['SEATS_AVAILABLE'] < 0, 'SEATS_AVAILABLE'] = 0

# # Group the data by COURSE_CODE and calculate the max value of SEATS_AVAILABLE for each group
# max_seats = df_copy.groupby('COURSE_CODE')['SEATS_AVAILABLE'].max().reset_index()

# # Join the max_seats dataframe back to the original dataframe using COURSE_CODE as the key
# merged = df_copy.merge(max_seats, on='COURSE_CODE', suffixes=['', '_max'])

# # Divide the SEATS_AVAILABLE column by the max value for each group
# merged['SEATS_AVAILABLE'] = merged['SEATS_AVAILABLE'] / merged['SEATS_AVAILABLE_max']

# merged['SEATS_AVAILABLE_max'].unique()

In [19]:
# merged['SEATS_AVAILABLE'] = merged['SEATS_AVAILABLE'].fillna(0)
# merged['SEATS_AVAILABLE'].unique()